PORT=4001
SERVICE_NAME=auth-service
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/foodloop
JWT_SECRET=change-me-in-local-env
JWT_EXPIRES_IN=1d
GOOGLE_CLIENT_ID=224783678373-ahvat1kgpres0ua1v582i4k9fab4n23d.apps.googleusercontent.com